.navbar-nav > li > a{
    width:100px;
    text-align: center;
}

.navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    background-color: #ddd;
    color: #FFC0CB;
    width:100px;
    margin:0px;
}

body > nav {
    padding: 0px 0px 0px 0px !important;
}


git remote add origin  https://myoauth123:Yog33Raj33@github.com/myoauth123/Bootstrap4Nabar.git